{% extends "medico/modelo.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'medicos/css/abrir_horario.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
    <link rel="stylesheet" href="{% static 'medicos/css/cadastro_medico.css' %}">
{% endblock css %}
{% block conteudo %}
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ dados_medicos.foto.url }}"  class="foto-perfil" alt="">
                <label class="fs-3">Olá, <span class="text-success">{{request.user.username|capfirst}}</span></label>
                
                <br>
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <section class="alert {{message.tags}}">
                            {{message}}
                        </section>
                    {% endfor %}
                {% endif %}
                <br>
                <p  class="fs-4">Abrir horários para consultas:</p>
                <hr>
                <form action="#" method="POST">{% csrf_token %}
                  <label for="">Escolher data:</label>
                    <input type="datetime-local" name="data" class="form-control shadow-main-color">
                    <br>
                    <input type="submit" value="Salvar" class="btn btn-success btn-dark-color">
                </form>
            </div>
            <div class="col-md " >
                <div class="vr h-100"></div>
              </div>
            <div class="col-md-4">
                <p  class="fs-5 ">Seus horários:</p>
                <ul class="list-group">
                    <li>X</li>
                </ul>
            </div>

        </div>
    </div>
{% endblock conteudo %}