<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
          Titulo da Página
        {% endblock title %}
    </title>
        {% block css %}
          
        {% endblock css %}

        {% block script %}
        
        {% endblock script %}
</head>
<body>
    {% block head %}
      
    {% endblock head %}

    {% block conteudo %}
      
    {% endblock conteudo %}

    {% block footer %}
      
    {% endblock footer %}

</body>
</html>