{% extends "usuarios/base.html" %}
{% load static %}

{% block title %}
    Pagina home
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block conteudo %}
    <!-- <h1>Pagina login</h1> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md d-flex justify-content-center">
                <div class="cont-cadastro">
                    <br>
                    <br>
                    <section class="cont-logo">
                        <img class="logo" src="{% static 'img/logo.png' %}">
                        <label class="text-center text-success">HEALING</label>
                    </section>
                    <hr>
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                     <h2 class="fonte-destaque1">Faça seu login</h2>
                        {% if messages %}
                            <br>
                            {% for message in messages %}
                                <section class="alert {{message.tags}}">
                                    {{message}}
                                </section>
                            {% endfor %}
                        {% endif %}
                        <br>
                        <label for="">Username</label>
                        <input type="text" name="username" id="" class="form-control" placeholder="Username ...">
                        <br>
                        
                       
                        <label for="">Senha</label>
                        <input type="password" name="senha" class="form-control" placeholder="Digite sua senha ...">
                        <br>
                        <input type="submit" value="Logar" class="btn btn-success btn-dark-color">
                        <a href="{% url 'cadastro' %}" class="btn btn-dark-color-outline">Não possuo uma conta</a>
                    </form>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center align-items-center" id="logo-aside">
                <img src="{% static 'img/ilustracao.png' %}" alt="">
            </div>
        </div>
    </div>

{% endblock conteudo %}